Resources:
  AirflowECSLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: "{{ serviceName }}-{{ ENVIRONMENT }}-ecs-log-group"
      RetentionInDays: "{{ cloudwatch.ecsLogGroup.retention }}"

Outputs:
  AirflowECSLogGroupName:
    Value: !Ref AirflowECSLogGroup
    Export:
      Name: cloudwatch-AirflowECSLogGroupName

