Description: Create KMS keys for encryption

Resources:
  KMSKey:
    Type: AWS::KMS::Key
    Properties:
      Description: KMS Key for Airflow
      Enabled: true
      EnableKeyRotation: true
      KeyUsage: ENCRYPT_DECRYPT
      KeyPolicy:
        Version: 2012-10-17
        Id: key-default-1
        Statement:
          - Sid: Enable IAM User Permissions
            Effect: Allow
            Principal:
              AWS: !Ref AWS::AccountId
            Action: kms:*
            Resource: '*'
      Tags:
        - Key: Name
          Value: "{{ serviceName }}-{{ ENVIRONMENT }}-kms"


Outputs:
  KMSKeyId:
    Value: !Ref KMSKey
    Export:
      Name: "encryption-KMSKeyId"