Description: Manages secrets for airflow resources

Resources:
  RotationLambdaCodeBucket:
    Type: AWS::S3::Bucket
    DeletionPolicy: Retain
    Properties:
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: aws:kms
              KMSMasterKeyID: !ImportValue encryption-KMSKeyId
      BucketName: !Sub "s3-${AWS::AccountId}-{{ serviceName }}-{{ ENVIRONMENT }}-lambda-code"
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      Tags:
        - Key: Name
          Value: "{{ serviceName }}-{{ ENVIRONMENT }}-lambda-code-bucket"

Outputs:
  RotationLambdaCodeBucketName:
    Value: !Ref RotationLambdaCodeBucket
    Export:
      Name: "storage-RotationLambdaCodeBucketName"
