Description: Manages secrets for airflow resources

Resources:

  MetadataDBSecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Description: 'This is Airflow Metadata DB secret'
      Name: "{{ serviceName }}-{{ ENVIRONMENT }}-metadata-db-credentials"
      GenerateSecretString:
        SecretStringTemplate: '{"username": "airflow_admin"}'
        GenerateStringKey: 'password'
        PasswordLength: 32
        ExcludePunctuation: true
      KmsKeyId: !ImportValue encryption-KMSKeyId
      Tags:
        - Key: Name
          Value: "{{ serviceName }}-{{ ENVIRONMENT }}-metadata-db-secret"

  MetadataDBSecretResourcePolicy:
    Type: AWS::SecretsManager::ResourcePolicy
    Properties:
      SecretId: !Ref MetadataDBSecret
      ResourcePolicy:
        Version: '2012-10-17'
        Statement:
          - Effect: Deny
            Principal:
              AWS: !Sub 'arn:aws:iam::${AWS::AccountId}:root'
            Action: secretsmanager:DeleteSecret
            Resource: "*"

  AirflowFernetKeySecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: "{{ serviceName }}-{{ ENVIRONMENT }}-fernet-key"
      Description: 'This is Fernet Key secret'
      SecretString: '{"fernet_key": "{{ FERNET_KEY }}"}'
      KmsKeyId: !ImportValue encryption-KMSKeyId
      Tags:
        - Key: Name
          Value: "{{ serviceName }}-{{ ENVIRONMENT }}-fernet-key-secret"

Outputs:
  MetadataDBSecretId:
    Value: !Ref MetadataDBSecret
    Export:
      Name: "secrets-MetadataDBSecretId"

  FernetKeySecret:
    Value: !Ref AirflowFernetKeySecret
    Export:
      Name: "secrets-AirflowFernetKeySecretId"