Description: Creates ECS resources

Resources:
  AirflowECSCluster:
    Type: AWS::ECS::Cluster
    Properties:
      ClusterName: "{{ serviceName }}-{{ ENVIRONMENT }}-ecs-cluster"
      Tags:
        - Key: Name
          Value: "{{ serviceName }}-{{ ENVIRONMENT }}-ecs-cluster"

Outputs:
  AirflowECSClusteArn:
    Value: !GetAtt AirflowECSCluster.Arn
    Export:
      Name: "ecs-AirflowECSClusteArn"

  AirflowECSClusteId:
    Value: !Ref AirflowECSCluster
    Export:
      Name: "ecs-AirflowECSClusterId"
