Description: Creates Airflow Scheduler Service

Resources:
  SchedulerSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Security group for Airflow Scheduler
      GroupName: "{{ serviceName }}-{{ ENVIRONMENT }}-scheduler-security-group"
      SecurityGroupEgress:
        - CidrIp: 0.0.0.0/0
          FromPort: 0
          IpProtocol: -1
          ToPort: 0
      VpcId: !ImportValue network-VpcId
      Tags:
        - Key: Name
          Value: "{{ serviceName }}-{{ ENVIRONMENT }}-scheduler-security-group"

  SchedulerTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Cpu: "{{ service.scheduler.cpu }}"
      Memory: "{{ service.scheduler.memory }}"
      ExecutionRoleArn: !ImportValue iam-ECSTaskRoleArn
      Family: "{{ serviceName }}-{{ ENVIRONMENT }}-scheduler-task-definition"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      ContainerDefinitions:
        - Name: "{{ serviceName }}-{{ ENVIRONMENT }}-scheduler"
          Image: !Sub
            - "${AWS::AccountId}.dkr.ecr.{{ AWS_REGION }}.amazonaws.com/${ecr_repository}:latest"
            - ecr_repository: !ImportValue ecr-AirflowDockerRepositoryName
          Essential: true
          Command:
            - scheduler
          Environment:
            - Name: REDIS_HOST
              Value: !ImportValue redis-CeleryBackendHost
            - Name: REDIS_PORT
              Value: !ImportValue redis-CeleryBackendPort
            - Name: POSTGRES_HOST
              Value: !ImportValue database-MetadataDBInstanceHost
            - Name: POSTGRES_PORT
              Value: !ImportValue database-MetadataDBInstancePort
            - Name: POSTGRES_USER
              Value: {% raw %} !Join ['', ['{{resolve:secretsmanager:', !ImportValue secrets-MetadataDBSecretId, ':SecretString:username}}' ]] {% endraw %}
            - Name: POSTGRES_PASSWORD
              Value: {% raw %} !Join ['', ['{{resolve:secretsmanager:', !ImportValue secrets-MetadataDBSecretId, ':SecretString:password}}' ]] {% endraw %}
            - Name: POSTGRES_DB
              Value: "{{ metadataDb.dbName }}"
            - Name: AIRFLOW_BASE_URL
              Value: "{{ service.baseUrl }}"
            - Name: ENABLE_REMOTE_LOGGING
              Value: False
            - Name: STAGE
              Value: "{{ ENVIRONMENT }}"
            - Name: FERNET_KEY
              Value: {% raw %} !Join ['', ['{{resolve:secretsmanager:', !ImportValue secrets-AirflowFernetKeySecretId, ':SecretString:fernet_key}}' ]] {% endraw %}
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: !ImportValue cloudwatch-AirflowECSLogGroupName
              awslogs-region: "{{ AWS_REGION }}"
              awslogs-stream-prefix: scheduler
      Tags:
        - Key: Name
          Value: "{{ serviceName }}-{{ ENVIRONMENT }}-scheduler-task-definition"

  SchedulerEcsService:
    Type: AWS::ECS::Service
    Properties:
      ServiceName: "{{ serviceName }}-{{ ENVIRONMENT }}-scheduler"
      Cluster: !ImportValue ecs-AirflowECSClusteArn
      TaskDefinition: !Ref SchedulerTaskDefinition
      LaunchType: FARGATE
      DesiredCount: "{{ service.scheduler.desiredCount }}"
      NetworkConfiguration:
        AwsvpcConfiguration:
          AssignPublicIp: ENABLED
          SecurityGroups:
            - !Ref SchedulerSecurityGroup
          Subnets:
            - !ImportValue network-PublicSubnet1Id
            - !ImportValue network-PublicSubnet2Id
            - !ImportValue network-PublicSubnet3Id

  SchedulerScalableTarget:
    Type: AWS::ApplicationAutoScaling::ScalableTarget
    Properties:
      MaxCapacity: "{{ service.scheduler.autoscaling.maxCapacity }}"
      MinCapacity: "{{ service.scheduler.autoscaling.minCapacity }}"
      RoleARN: !Sub 'arn:aws:iam::${AWS::AccountId}:role/aws-service-role/ecs.application-autoscaling.amazonaws.com/AWSServiceRoleForApplicationAutoScaling_ECSService'
      ServiceNamespace: ecs
      ScalableDimension: 'ecs:service:DesiredCount'
      ResourceId: !Join ["/", [service, !ImportValue ecs-AirflowECSClusterId, !GetAtt SchedulerEcsService.Name]]


  ServiceScalingPolicyCPU:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Properties:
      PolicyName: "{{ serviceName }}-{{ ENVIRONMENT }}-scheduler-tracking-cpu"
      PolicyType: TargetTrackingScaling
      ScalingTargetId: !Ref SchedulerScalableTarget
      TargetTrackingScalingPolicyConfiguration:
        TargetValue: "{{ service.scheduler.autoscaling.cpu.target }}"
        ScaleInCooldown: "{{ service.scheduler.autoscaling.cpu.scaleInCooldown }}"
        ScaleOutCooldown: "{{ service.scheduler.autoscaling.cpu.scaleOutCooldown }}"
        PredefinedMetricSpecification:
          PredefinedMetricType: ECSServiceAverageCPUUtilization

  ServiceScalingPolicyMemory:
    Type: AWS::ApplicationAutoScaling::ScalingPolicy
    Properties:
      PolicyName: "{{ serviceName }}-{{ ENVIRONMENT }}-scheduler-tracking-memory"
      PolicyType: TargetTrackingScaling
      ScalingTargetId: !Ref SchedulerScalableTarget
      TargetTrackingScalingPolicyConfiguration:
        TargetValue: "{{ service.scheduler.autoscaling.memory.target }}"
        ScaleInCooldown: "{{ service.scheduler.autoscaling.memory.scaleInCooldown }}"
        ScaleOutCooldown: "{{ service.scheduler.autoscaling.memory.scaleOutCooldown }}"
        PredefinedMetricSpecification:
          PredefinedMetricType: ECSServiceAverageMemoryUtilization
