Resources:
  WebserverExternalSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Security group for Airflow webserver. Allow all inbound traffic.
      GroupName: "{{ serviceName }}-{{ ENVIRONMENT }}-webserver-security-group"
      SecurityGroupEgress:
        - CidrIp: 0.0.0.0/0
          FromPort: 0
          IpProtocol: -1
          ToPort: 0
      SecurityGroupIngress:
        - CidrIp: 0.0.0.0/0
          FromPort: "{{ service.port }}"
          IpProtocol: tcp
          ToPort: "{{ service.port }}"
      VpcId: !ImportValue network-VpcId
      Tags:
        - Key: Name
          Value: "{{ serviceName }}-{{ ENVIRONMENT }}-webserver-security-group"

  WebserverInternalSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Security group for Airflow webserver.
      GroupName: "{{ serviceName }}-{{ ENVIRONMENT }}-webserver-internal-security-group"
      SecurityGroupEgress:
        - CidrIp: 0.0.0.0/0
          FromPort: 0
          IpProtocol: -1
          ToPort: 0
      SecurityGroupIngress:
        - SourceSecurityGroupId: !GetAtt WebserverExternalSecurityGroup.GroupId
          FromPort: "{{ service.webserver.port }}"
          IpProtocol: tcp
          ToPort: "{{ service.webserver.port }}"
      VpcId: !ImportValue network-VpcId
      Tags:
        - Key: Name
          Value: "{{ serviceName }}-{{ ENVIRONMENT }}-webserver-internal-security-group"

  WebserverTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Cpu: "{{ service.webserver.cpu }}"
      Memory: "{{ service.webserver.memory }}"
      ExecutionRoleArn: !ImportValue iam-ECSTaskRoleArn
      Family: "{{ serviceName }}-{{ ENVIRONMENT }}-webserver-task-definition"
      NetworkMode: awsvpc
      RequiresCompatibilities:
        - FARGATE
      ContainerDefinitions:
        - Name: "{{ serviceName }}-{{ ENVIRONMENT }}-webserver"
          Image: !Sub
            - "${AWS::AccountId}.dkr.ecr.{{ AWS_REGION }}.amazonaws.com/${ecr_repository}:{{ service.imageVersion }}"
            - ecr_repository: !ImportValue ecr-AirflowDockerRepositoryName
          Essential: true
          PortMappings:
            - ContainerPort: "{{ service.webserver.port }}"
              HostPort: "{{ service.webserver.port }}"
          Command:
            - webserver
          Environment:
            - Name: REDIS_HOST
              Value: !ImportValue redis-CeleryBackendHost
            - Name: REDIS_PORT
              Value: !ImportValue redis-CeleryBackendPort
            - Name: POSTGRES_HOST
              Value: !ImportValue database-AuroraDBClusterHost
            - Name: POSTGRES_PORT
              Value: !ImportValue database-AuroraDBClusterPort
            - Name: POSTGRES_USER
              Value: {% raw %} !Join ['', ['{{resolve:secretsmanager:', !ImportValue secrets-AuroraDBSecretId, ':SecretString:username}}' ]] {% endraw %}
            - Name: POSTGRES_PASSWORD
              Value: {% raw %} !Join ['', ['{{resolve:secretsmanager:', !ImportValue secrets-AuroraDBSecretId, ':SecretString:password}}' ]] {% endraw %}
            - Name: POSTGRES_DB
              Value: c
            - Name: AIRFLOW_BASE_URL
              Value: "{{ service.baseUrl }}"
            - Name: ENABLE_REMOTE_LOGGING
              Value: False
            - Name: STAGE
              Value: "{{ ENVIRONMENT }}"
            - Name: FERNET_KEY
              Value: {% raw %} !Join ['', ['{{resolve:secretsmanager:', !ImportValue secrets-AirflowFernetKeySecretId, ':SecretString:fernet_key}}' ]] {% endraw %}
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-group: !Sub
                - "${log_group}/{{ serviceName }}-{{ ENVIRONMENT }}"
                - log_group: !ImportValue cloudwatch-AirflowECSLogGroupName
              awslogs-region: "{{ AWS_REGION }}"
              awslogs-stream-prefix: webserver
      Tags:
        - Key: Name
          Value: "{{ serviceName }}-{{ ENVIRONMENT }}-webserver-task-definition"

  WebserverAlb:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Properties:
      Name: "{{ serviceName }}-{{ ENVIRONMENT }}-webserver-alb"
      Type: application
      SecurityGroups:
        - !Ref WebserverExternalSecurityGroup
      Subnets:
        - !ImportValue network-PublicSubnet1Id
        - !ImportValue network-PublicSubnet2Id
        - !ImportValue network-PublicSubnet3Id
      Tags:
        - Key: Name
          Value: "{{ serviceName }}-{{ ENVIRONMENT }}-webserver-alb"

  WebserverAlbTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Properties:
      Name: "{{ serviceName }}-{{ ENVIRONMENT }}-webserver-alb-tg"
      Port: "{{ service.webserver.port }}"
      Protocol: HTTP
      VpcId: !ImportValue network-VpcId
      TargetType: ip
      HealthCheckEnabled: true
      HealthCheckIntervalSeconds: 10
      HealthCheckPath: /health
      HealthCheckPort: 8080
      HealthCheckProtocol: HTTP
      HealthCheckTimeoutSeconds: 5
      HealthyThresholdCount: 5
      UnhealthyThresholdCount: 3
      Tags:
        - Key: Name
          Value: "{{ serviceName }}-{{ ENVIRONMENT }}-webserver-alb-tg"

  WebserverAlbListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      DefaultActions:
        - TargetGroupArn: !Ref WebserverAlbTargetGroup
          Type: forward
      LoadBalancerArn: !Ref WebserverAlb
      Port: "{{ service.port }}"
      Protocol: HTTP
